<template>
  <div
      class="game-container"
      @mouseenter="showCardBack = true"
      @mouseleave="showCardBack = false"
      @click="votes += 1">
    <div
        class="game"
        v-show="!showCardBack"
        ref="front"
    >
      <div class="badge">{{ votesLabel }}</div>
      <img class="game-cover" :src="gameCover" @load="setHeight" alt="game cover" />
    </div>
    <div class="game back" v-show="showCardBack" :style="`height: ${cardHeight}px;`">
      <div class="badge">{{ votesLabel }}</div>
      <div class="game-title">
        {{ game.name }}
      </div>
      <div class="game-details">
        {{ game.summary }}
      </div>
    </div>
    <resize-observer @notify="setHeight" />
  </div>
</template>

<script>
import { ResizeObserver } from 'vue-resize'
export default {
  name: 'GameCard',
  components: { ResizeObserver },
  props: {
    game: {
      type: Object,
      required: true
    }
  },
  data () {
    return {
      showCardBack: false,
      votes: 0,
      cardHeight: 0
    }
  },
  computed: {
    gameCover: function () {
      return 'https:' + this.game.cover.url.replace('t_thumb', 't_cover_big')
    },
    votesLabel: function () {
      return `${this.votes} ${this.votes === 1 ? 'vote' : 'votes'}`
    }
  },
  methods: {
    setHeight: function () {
      this.cardHeight = this.$refs.front.clientHeight
    }
  }
}
</script>

<style scoped lang="scss">
  .game {
    padding: 1em;
    border-radius: 25px;
    background-color: #e4d96f;
    margin: 0 0 1.5em;
    box-shadow: 2px 2px 8px #878787;

    &:hover {
      box-shadow: 4px 4px 8px #878787;
    }
  }

  .back {
    overflow-y: scroll;
  }

  .badge {
    background-color: #010203;
    color: white;
    margin-bottom: 20px;
  }

  .game-title {
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 7px;
  }

  .game-details {
    text-align: justify;
  }

  .game-cover {
    width: 100%;
  }

  .game-container {
    cursor: pointer;
  }
</style>
