<template>
  <div class="games-grid-container">
    <div v-if="isLoading" class="loading-text">
      Please wait while we fetch the best Nintendo 64 games for you...
    </div>
    <div v-else class="masonry-grid">
      <GameCard
          v-for="game in games"
          :game="game"
          :key="game.id"
      ></GameCard>
    </div>
  </div>
</template>

<script>
import GameCard from './GameCard'
import { mapGetters } from 'vuex'
export default {
  name: 'GamesGrid',
  components: { GameCard },
  computed: {
    ...mapGetters({
      games: 'games/getGamesList',
      isLoading: 'games/getIsLoading'
    })
  },
  created: async function () {
    await this.$store.dispatch('games/getGames')
  }
}
</script>

<style scoped lang="scss">
  .games-grid-container {
    margin: 20px;
  }

  .masonry-grid {
    margin: 1.5em auto;
    max-width: 1250px;
    column-gap: 1.5em;

    @media only screen and (min-width: 1024px) {
      column-count: 4;
    }

    @media only screen and (max-width: 1023px) and (min-width: 768px) {
      column-count: 3;
    }

    @media only screen and (max-width: 767px) and (min-width: 540px) {
      column-count: 2;
    }
  }

  .loading-text {
    color: #e4d96f;
  }
</style>
