<template>
  <div class="page-header">
    <h1 class="title">Nintendo<sup>64</sup></h1>
  </div>
</template>

<script>
export default {
  name: 'PageHeader'
}
</script>

<style scoped lang="scss">
  .page-header {
    height: 60px;
    background-color: #D20014;
  }

  .title {
    font-family: 'Press Start 2P', cursive;
    font-size: 26px;
    color: #fff;
    vertical-align: middle;
    line-height: 60px;
  }
</style>
