<template>
  <div id="app">
    <PageHeader />
    <GamesGrid />
  </div>
</template>

<script>
import PageHeader from './components/PageHeader'
import GamesGrid from './components/GamesGrid'

export default {
  name: 'app',
  components: {PageHeader, GamesGrid}
}
</script>

<style lang="scss">
  #app {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    text-align: center;
  }
</style>
